.main-landing{
	background-image: url('../images/pokemon.jpeg');  
	background-size: cover;
	background-position: center;
    background-color: black;
	padding: 15em;

}

.myButton{
    background: url('../images/pokeball1.png') no-repeat;
    opacity: 0.3;
    cursor:pointer;
    border:none;
    width:550px;
    height:550px;
}

.myButton:hover {
    background: url('../images/pokeball.png') no-repeat;
    opacity: 1.0;

}

.myButton:active {
    background: url('../images/pokeball.png') no-repeat;
}