.main-navbar {
    display:grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(245, 238, 238);
    position:fixed; 
    top:0;
    width: 50%;
    
  }