.main-navbar {
    display:grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    /* background-color: rgb(245, 238, 238); */
    background: #FFF;
    position:fixed; 
    top:0;
    width: 100%;

  }


  /* background: #000000;
	color: #FFF;
	height: 49px;
	padding-left: 18px;
	border-radius: 10px; */