

.main-card {
    /* display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: black; */
    margin-top: 50px;
  }

  img{
    width: 150px; height: 150px;

  }

  .back{
    background-color: yellow;
    margin-bottom: 15px;
  }

    .forward{
    background-color: blue;
    margin-bottom: 15px;

  }

  .imagenes-card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    box-shadow: 0px 1px 5px 0px;
  }

  .container-pokemones{
    display: grid;
    /* grid-template-rows: 100px 100px; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: black;
  }