.main-search {
    display: grid;
    /* grid-template-rows: 100px 100px; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: black;
  }